body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #427800;
}

#logo{
    height: 150px;
    width: 400px;
}

#board{
    height: 360px;
    width: 360px;
    background-color: lightblue;
    margin: 0 auto;
    border: 10px solid #115AB9;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    height: 118px;
    width: 118px;
    border: 1px solid #0505c4 ;
}